// Place all the styles related to the api/Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

////////////////////////////////////////////////////////////////////
/////////////////////////// CREATE BOARD ///////////////////////////
////////////////////////////////////////////////////////////////////
#create-board-container {
  position: relative;
}

.create-board#sizing {
  width: 544px;
  border-radius: 8px;
  display: flex;
  position: relative;
  overflow: hidden;
  margin: 0 16px;
  background-color: #fff;
  max-height: calc(100vh - 32px);
  outline: none;
}

.create-board#modal-fg {
  width: 100%;
  flex: 1 1 auto;
  min-height: 0;
  min-width: 0;
  box-sizing: border-box;
  position: relative;
  flex-direction: column;
  display: flex;
  cursor: default;
}

.create-board#header {
  box-sizing: border-box;
  max-width: 100%;
  border-bottom: 1px solid #efefef;
}

.create-board#header-title-container {
  padding: 20px 50px;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.create-board#header-title {
  hyphens: auto;
  word-wrap: break-word;
  letter-spacing: -.4px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-size: 24px;
  font-weight: 700;
}

.create-board#close-button-container {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  box-sizing: border-box;
}

.create-board#close-button {
  border: 0;
  padding: 0;
  cursor: pointer;
  background: transparent;
  outline: none;
}

.create-board#close-icon-container {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: transparent;
  &:hover {
    background-color: rgba(0, 0, 0, 0.06)
  }
  &:focus {
    box-shadow: 0 0 0 4px rgba(0, 122, 255, 0.5);
  }
}

.create-board#close-icon {
  color: #8e8e8e;
  fill: currentColor;
  stroke-width: 0;
  vertical-align: middle;
  height: 30px;
  width: 30px;
  overflow: hidden;
}

.create-board#body {
  flex: 1 1 auto;
  min-height: 0;
  min-width: 0;
  box-sizing: border-box;
  position: relative;
  overflow: auto;
}

.create-board#form-container {
  max-width: 600px;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #fff;
  margin-right: auto;
  margin-left: auto;
}

.create-board#form {

}

.create-board#fields {
  box-sizing: border-box;
}

.create-board.field-container {
  border-bottom: 1px solid #efefef;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  box-sizing: border-box;
  padding: 9px 6px;
  @media (min-width: 576px) {
    padding: 12px 8px;
  }
  @media (min-width: 768px) {
    padding: 18px 16px;
  }
  @media (min-width: 1312px) {
    padding: 18px 16px;
  }
}


.create-board.label-container {
  box-sizing: border-box;
  padding: 12px 4px;
  width: 100%;
  @media (min-width: 768px) {
    width: 25%;
  }
}

.create-board.label {
  cursor: pointer;
}

.create-board.label-content {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  font-weight: 400;
  letter-spacing: -.4px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: #333;
}

.create-board.input-container {
  box-sizing: border-box;
  width: 100%;
  @media (min-width: 768px) {
    width: 75%;
  }
  &.secret {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 8px 0;
  }
}

.create-board.name-input {
  box-sizing: border-box;
  min-height: 40px;
  width: 100%;
  letter-spacing: -.4px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  cursor: text;
  border-color: #8e8e8e;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 4px;
  border: 1px solid;
  padding: 8px 14px;
}

.create-board.error-container {
  box-sizing: border-box;
  margin-top: 4px;

}

.create-board.error {
  text-align: left;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  font-weight: 400;
  letter-spacing: -.4px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  color: #e60023;
}

.create-board.error-content {}

.create-board#visibility-checkbox {
  position: relative;
  cursor: pointer;
  margin-right: 12px;
  height: 26px;
  width: 26px;
  border: 1px solid gray;
  box-sizing: border-box;
  border-radius: 4px;
  // wrong sub-selector
  // &:focus {
  //   box-shadow: 0 0 0 4px rgba(0, 132, 255, 0.5)
  // }
}

.create-board#visibility-checked {
  position: absolute;
  top: -2px;
  left: -2px;
  height: 28px;
  width: 28px;
  color: black;  
}

.create-board.checkbox {
  opacity: 0;
  &.checked {
    opacity: 1;
  }
}

.create-board#visibility-note {
  text-align: left;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  font-weight: 400;
  letter-spacing: -.4px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: #333;
  @media (min-width: 576px) {
    font-size: 12px;
  }
}

.create-board.footer-container {
  box-sizing: border-box;
  padding: 8px 16px;
}

.create-board.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
}

.create-board.buttons-container {
  box-sizing: border-box;
}

.create-board.buttons {
  box-sizing: border-box;
  padding: 8px 0;
  margin: 0 -8px;
  display: flex;
  flex-direction: row;
}

.create-board.button-container {
  box-sizing: border-box;
  padding: 0 8px;
}

.create-board.button {
  border: 0;
  border-radius: 8px;
  box-sizing: border-box;
  min-height: 40px;
  display: inline-block;
  background-color: #efefef;
  padding: 10px 14px;
  text-align: center;
  font-weight: 700;
  letter-spacing: -.4px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  color: #333;
  &:hover {
    background-color: #e2e2e2;
  }
}



////////////////////////////////////////////////////////////////////
/////////////////////////// BOARD INDEX ////////////////////////////
////////////////////////////////////////////////////////////////////
.board-index {
  margin-top: 20px;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
}

.board-index-item.container {
  max-width: 324px;
  overflow: hidden;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 12px;
  padding-right: 12px;
}

.board-index-item.filler {
  width: 324px;
}

.board-index-item {
  box-sizing: border-box;
}

.board-index-item.hover-overlay {
  border-radius: 8px;
  box-sizing: content-box;
  left: -8px;
  // bottom: -8px;
  // right: -8px;
  top: -8px;
  position: absolute;
  z-index: 1;
  background: rgba(0,0,0,.064);
  pointer-events: none;
  width: 105%;
  height: 105%;
  opacity: 0;
  transition: opacity .2s ease;
}

.board-index-item.link {
  color: #333;
  text-decoration: none;  
}

.board-index-item.content {
  position: relative;
  &:hover {
    .hover-overlay {
      opacity: 1;
    }
    .edit-button {
      opacity: 1;
    }
  }
}

.board-index-item.pins-container {
  width: 300px;
  height: 200px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  will-change: transform;
}

.board-index-item.pins {
  width: 300px;
  height: 200px;
  position: relative;
}

.board-index-item.pin {
  position: absolute;
  width: 98.6667px;
  background-color: #efefef;
  &#a {
    top: 0px;
    left: 0px;
    height: 99px;
  }
  
  &#b {
    top: 0px;
    left: 100.667px;
    height: 48.5px;
  }
  
  &#c {
    top: 0px;
    left: 201.333px;
    height: 99px;
  }
  
  &#d {
    top: 50.5px;
    left: 100.667px;
    height: 149.5px;
  }
  
  &#e {
    top: 101px;
    left: 0px;
    height: 99px;
  }
  
  &#f {
    top: 101px;
    left: 201.333px;
    height: 99px;
  }
  & img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.board-index-item.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 4px 0;
}

.board-index-item.info-details {
  flex: 1 1 auto;
  min-height: 0;
  min-width: 0;
  overflow: hidden;
  padding: 8px;
}

.board-index-item.title {
  text-align: left;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  font-weight: 700;
  letter-spacing: -.4px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 21px;
  color: #333;
  line-height: 24px;
}

.board-index-item.additional {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.board-index-item.visibility {
  margin-right: 8px;
}

.board-index-item#lock-icon {
  width: 16px;
  height: 16px;
  color: #333;
  fill: currentColor;
  stroke-width: 0;
  vertical-align: middle;
}

.board-index-item.pin-count {
  text-align: left;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  font-weight: 400;
  letter-spacing: -.4px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: #333;
}

.board-index-item.edit-button {
  border: none;
  margin: 4px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: transparent;
  opacity: 0;
  &:hover {
    background-color: #efefef;
  }
}

.board-index-item#edit-icon {
  height: 20px;
  width: 20px;
  color: #8e8e8e;
  fill: currentColor;
  stroke-width: 0;
  vertical-align: middle;
}



////////////////////////////////////////////////////////////////////
//////////////////////////// BOARD SHOW ////////////////////////////
////////////////////////////////////////////////////////////////////
.board-show.container {
  padding-top: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-show.header {
  box-sizing: border-box;
  width: 100%;
  max-width: 774px;
  margin-bottom: 24px;
  padding: 0 8px;
}

.board-show.navbar-container {
  position: fixed;
  top: 65px;
  left: 0;
  right: 0;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 103;
  background-color: hsla(0,0%,100%,.95);
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.board-show.navbar {
  max-width: 800px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 8px 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.board-show.buttons {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 96px;
}

.board-show.button {
  cursor: pointer;
  outline: none;
  border: 0;
  padding: 0;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  &:hover {
    background-color: rgba(0, 0, 0, 0.06);
  }
}

.board-show.icon {
  display: block;
  color: #8e8e8e;
  fill: currentColor;
  stroke-width: 0;
  height: 24px;
  width: 24px;
}


.board-show.fade-title-container {
  box-sizing: border-box;
  min-width: 0px;
  width: 100%;
}

.board-show.fade-title {
  margin: auto;
  max-width: 300px;
  padding: 8px 0;
  position: relative;
  text-align: center;
  top: -66px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  letter-spacing: -.4px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-size: 24px;
  font-weight: 700;
  opacity: 0;
  &.out {
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translate(0);
    transform: translate(0);
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
  }
  &.in {
    opacity: 1;
    -webkit-transform: translateY(66px);
    transform: translateY(66px);
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
  }
}

.board-show.profile-button-container {
  width: 48px;
  margin-left: 48px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.board-show.profile-button {
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  outline: none;
  background-color: #fff;
  overflow: hidden;
  display: flex;
}

.board-show.profile-photo {
  object-fit: cover;
}

.board-show.info {
  box-sizing: border-box;
  margin-top: 65px;
  padding: 12px 0;
}

.board-show.main-info {
  box-sizing: border-box;
}

.board-show.title {
  box-sizing: border-box;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  letter-spacing: -.4px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #333;
  line-height: 42px;
  font-size: 36px;
  font-weight: 700;
}

.board-show.stats {
  margin-right: -4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.board-show.visibility {
  box-sizing: border-box;
  margin-right: 4px;
}

.board-show#lock-icon {
  color: #333;
  fill: currentColor;
  stroke-width: 0;
  vertical-align: middle;
  padding: 2px;
  height: 16px;
  width: 16px;
}

.board-show.count {
  box-sizing: border-box;
  padding: 0 4px;
  text-align: left;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  font-weight: 400;
  letter-spacing: -.4px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: #333;
}

.board-show.description {
  box-sizing: border-box;
  margin-left: 4px;
  padding: 4px 0;
  @media (min-width: 576px) {
    width: 100%;
  }
  @media (min-width: 768px) {
    width: 66.66667%;
  }
  text-align: left;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  font-weight: 400;
  letter-spacing: -.4px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: #333;
}

.board-show.pin-feed {
  margin-top: -40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

// .board-show.filler {
//   background-color: yellow;
//   height: 400px;
//   width: 40px;
//   margin: 12px;
// }


////////////////////////////////////////////////////////////////////
//////////////////////////// EDIT BOARD ////////////////////////////
////////////////////////////////////////////////////////////////////
.edit-board.container {
  max-width: 600px;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #fff;
  margin: 0 auto;
}

.edit-board.form {}

.edit-board.header {
  box-sizing: border-box;
  border-bottom: 1px solid #efefef;
  width: 100%;
  padding: 9px 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @media (min-width: 576px) {
    padding-bottom: 12px 8px;
  }
  @media (min-width: 768px) {
    padding: 18px 16px;
  }
  @media (min-width: 1312px) {
    padding: 18px 16px;
  }
}

.edit-board.form-title {
  box-sizing: border-box;
  margin-right: 3px;
  @media (min-width: 576px) {
    margin-right: 4px;
  }
  @media (min-width: 768px) {
    margin-right: 8px;
  }
  @media (min-width: 1312px) {
    margin-right: 8px;
  }
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  letter-spacing: -.4px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-size: 24px;
  font-weight: 700;
}

.edit-board.close-button {
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
}

.edit-board.close-icon {
  height: 100%;
  width: 100%;
  color: #8e8e8e;
  fill: currentColor;
  stroke-width: 0;
  vertical-align: middle;
}

.edit-board.body {
  box-sizing: border-box;
}

.edit-board.field {
  box-sizing: border-box;
  border-bottom: 1px solid #efefef;
  padding: 9px 6px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  @media (min-width: 576px) {
    padding: 12px 8px;
  }
  @media (min-width: 768px) {
    padding: 18px 16px;
  }
  @media (min-width: 1312px) {
    padding: 18px 16px;
  }
}

.edit-board.label-container {
  box-sizing: border-box;
  padding-bottom: 12px 4px;
  width: 100%;
  @media (min-width: 768px) {
    width: 25%;
  }
}

.edit-board.label {
  cursor: pointer;
  text-align: left;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  font-weight: 400;
  letter-spacing: -.4px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: #333;
}

.edit-board.input-container {
  box-sizing: border-box;
  width: 100%;
  @media (min-width: 768px) {
    width: 75%;
  }
  &.secret {
    padding: 8px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.edit-board.input {
  box-sizing: border-box;
  width: 100%;
  letter-spacing: -.4px;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  cursor: text;
  border-color: #8e8e8e;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  padding: 8px 14px;
  &.name {
    min-height: 40px;
  }
  &.description {
    line-height: 1.5;
    overflow: auto;
    resize: none;
    vertical-align: top;
  }
}

.edit-board#visibility-checkbox {
  position: relative;
  margin-right: 12px;
  height: 24px;
  width: 24px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #8e8e8e;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
}

.edit-board.checkbox {
  opacity: 0;
  &.checked {
    opacity: 1;
  }
}

.edit-board#visibility-checked {
  position: absolute;
  top: -2px;
  left: -2px;
  height: 28px;
  width: 28px;
  color: black;
}

.edit-board.visibility-note {
  text-align: left;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  letter-spacing: -.4px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-weight: 400;
  font-size: 12px;
  @media (min-width: 576px) {
      font-size: 12px;
  }
  @media (min-width: 768px) {
      font-size: 12px;
  }
  @media (min-width: 1312px) {
    font-size: 14px;
  }
}

.edit-board.error-container {}

.edit-board.error {}

.edit-board.error-content {}

.edit-board.error-content {}


.edit-board.footer {
  box-sizing: border-box;
  padding: 8px 16px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.edit-board.footer-part {
  box-sizing: border-box;
  margin: 0 -8px;
  padding: 8px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.edit-board.button {
  box-sizing: border-box;
  margin: 0 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 8px;
  min-height: 40px;
  display: inline-block;
  cursor: pointer;
  padding: 10px 14px;
  text-align: center;
  font-weight: 700;
  letter-spacing: -.4px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  &.delete,
  &.cancel {
    background-color: #efefef;
    color: #333;
    &:hover {
      background-color: #e2e2e2;
    }
  }
  &.save {
    background-color: #e60023;
    color: #fff;
    &:hover {
      background-color: #ad081b;
    }
  }
}



////////////////////////////////////////////////////////////////////
/////////////////////////// DELETE BOARD ///////////////////////////
////////////////////////////////////////////////////////////////////
.delete-board.container {
  border-radius: 6px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.22);
  margin: auto;
  max-height: 200%;
  position: relative;
  width: 380px;
}

.delete-board.form {
  background-color: #fff;
  border-radius: 6px;
  margin-bottom: 0;
  width: auto;
}

.delete-board.header {
  box-sizing: border-box;
  border-bottom: 1px solid #efefef;
  padding: 16px 48px;
}

.delete-board.form-title {
  text-align: center;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  font-weight: 700;
  letter-spacing: -.4px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 21px;
  color: #333;
}

.delete-board.body {
  color: #333;
  font-size: 14px;
  line-height: 21px;
  padding: 21px;
}

.delete-board.confirmation-message {
  text-align: left;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  font-weight: 400;
  letter-spacing: -.4px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  color: #333;
}

.delete-board.footer {}

.delete-board.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 12px 20px;
}

.delete-board.button {
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 8px;
  border: 0;
  padding: 10px 14px;
  min-height: 40px;
  display: inline-block;
  text-align: center;
  font-weight: 700;
  letter-spacing: -.4px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  &.delete {
    margin-right: 8px;
    background-color: #efefef;
    color: #333;
    &:hover {
      background-color: #e2e2e2;
    }
  }
  &.cancel {
    background-color: #e60023;
    color: #fff;
    &:hover {
      background-color: #ad081b;
    }
  }
}