// Place all the styles related to the api/BoardsPins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

////////////////////////////////////////////////////////////////////
///////////////////////// CREATE BOARDPIN //////////////////////////
////////////////////////////////////////////////////////////////////
.create-board-pin.container {
  width: 804px;
  box-sizing: border-box;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  max-height: calc(100vh -32px);
  flex: 1 1 auto;
  overflow: hidden;
  cursor: auto;
}

.create-board-pin.header {
  box-sizing: border-box;
  max-width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #efefef;
}

.create-board-pin.form-title {
  padding: 20px 50px;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  letter-spacing: -.4px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-size: 24px;
  font-weight: 700;
}

.create-board-pin.close-link {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px;
  border: 0;
  padding: 0;
  background: transparent;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: rgba(0,0,0,0.06);
  }
  & > .close-icon {
    color: #8e8e8e;
    height: 20px;
    width: 20px
  }
}

.create-board-pin.body {
  flex: 1 1 auto;
  box-sizing: border-box;
  position: relative;
  overflow: auto;
  height: 660px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.create-board-pin.first-half {
  width: 40%;
  border-right: 1px solid rgb(245,245,245);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-board-pin.photo-container {
  margin-top: 12px;
  box-sizing: border-box;
  border-radius: 8px;
  max-height: 335px;
  width: 216px;
  overflow: hidden;
  & > .photo {
    color: transparent;
    width: 100%;
  }
}

.create-board-pin.second-half {
  width: 60%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
  overflow: auto;
}

.create-board-pin.board-list {
  margin-top: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.create-board-pin.board-list-item {
  cursor: pointer;
  box-sizing: border-box;
  padding: 8px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  position: relative;
  &:hover {
    background-color: #efefef;
    & > .save-button {
      opacity: 1;
    }
  }
}

.board-list-item.photo-container {
  margin-right: 8px;
  height: 36px;
  width: 36px;
  border-radius: 8px;
  flex: 0 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #efefef;
  & > .photo {
    background-color: transparent;
    width: 100%;
    height: 100%;
  }
}

.board-list-item.title{
  text-align: left;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  font-weight: 700;
  letter-spacing: -.4px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  color: #333;
  line-height: 32px;
}

.board-list-item.save-button {
  opacity: 0;
  position: absolute;
  right: 24px;
  min-height: 32px;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 12px;
  overflow: hidden;
  background-color: rgb(230,0,35);
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  & > .save-icon {
    height: 20px;
    width: 20px;
  }
  & > .save-text {
    font-weight: 700;
    letter-spacing: -.4px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
  }
}