// Place all the styles related to the api/Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// CREATE BOARD
.create-board#sizing {
  width: 544px;
  border-radius: 8px;
  display: flex;
  position: relative;
  overflow: hidden;
  margin: 0 16px;
  background-color: #fff;
  max-height: calc(100vh - 32px);
  outline: none;
}

.create-board#modal-fg {
  width: 100%;
  flex: 1 1 auto;
  min-height: 0;
  min-width: 0;
  box-sizing: border-box;
  position: relative;
  flex-direction: column;
  display: flex;
  cursor: default;
}

.create-board#header {
  box-sizing: border-box;
  max-width: 100%;
  border-bottom: 1px solid #efefef;
}

.create-board#header-title-container {
  padding: 20px 50px;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.create-board#header-title {
  hyphens: auto;
  word-wrap: break-word;
  letter-spacing: -.4px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-size: 24px;
  font-weight: 700;
}

.create-board#close-button-container {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  box-sizing: border-box;
}

.create-board#close-button {
  border: 0;
  padding: 0;
  cursor: pointer;
  background: transparent;
  outline: none;
}

.create-board#close-icon-container {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: transparent;
  &:hover {
    background-color: rgba(0, 0, 0, 0.06)
  }
  &:focus {
    box-shadow: 0 0 0 4px rgba(0, 122, 255, 0.5);
  }
}

.create-board#close-icon {
  color: #8e8e8e;
  fill: currentColor;
  stroke-width: 0;
  vertical-align: middle;
  height: 30px;
  width: 30px;
  overflow: hidden;
}

.create-board#body {
  flex: 1 1 auto;
  min-height: 0;
  min-width: 0;
  box-sizing: border-box;
  position: relative;
  overflow: auto;
}

.create-board#form-container {
  max-width: 600px;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #fff;
  margin-right: auto;
  margin-left: auto;
}

.create-board#form {

}

.create-board#fields {
  box-sizing: border-box;
}

.create-board.field-container {
  border-bottom: 1px solid #efefef;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  box-sizing: border-box;
  padding: 9px 6px;
  @media (min-width: 576px) {
    padding: 12px 8px;
  }
  @media (min-width: 768px) {
    padding: 18px 16px;
  }
  @media (min-width: 1312px) {
    padding: 18px 16px;
  }
}


.create-board.label-container {
  box-sizing: border-box;
  padding: 12px 4px;
  width: 100%;
  @media (min-width: 768px) {
    width: 25%;
  }
}

.create-board.label {
  cursor: pointer;
}

.create-board.label-content {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  font-weight: 400;
  letter-spacing: -.4px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: #333;
}

.create-board.input-container {
  box-sizing: border-box;
  width: 100%;
  @media (min-width: 768px) {
    width: 75%;
  }
  &.secret {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 8px 0;
  }
}

.create-board.name-input {
  box-sizing: border-box;
  min-height: 40px;
  width: 100%;
  letter-spacing: -.4px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  cursor: text;
  border-color: #8e8e8e;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 4px;
  border: 1px solid;
  padding: 8px 14px;
}

.create-board.error-container {
  box-sizing: border-box;
  margin-top: 4px;

}

.create-board.error {
  text-align: left;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  font-weight: 400;
  letter-spacing: -.4px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  color: #e60023;
}

.create-board.error-content {}

.create-board#visibility-checkbox {
  position: relative;
  cursor: pointer;
  margin-right: 12px;
  height: 26px;
  width: 26px;
  border: 1px solid gray;
  box-sizing: border-box;
  border-radius: 4px;
  // wrong sub-selector
  // &:focus {
  //   box-shadow: 0 0 0 4px rgba(0, 132, 255, 0.5)
  // }
}

#visibility-checked {
  position: absolute;
  top: -2px;
  left: -2px;
  height: 28px;
  width: 28px;
  color: black;
  opacity: 0;
  
}

.create-board#visibility-note {
  text-align: left;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  font-weight: 400;
  letter-spacing: -.4px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: #333;
  @media (min-width: 576px) {
    font-size: 12px;
  }
}

.create-board.footer-container {
  box-sizing: border-box;
  padding: 8px 16px;
}

.create-board.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
}

.create-board.buttons-container {
  box-sizing: border-box;
}

.create-board.buttons {
  box-sizing: border-box;
  padding: 8px 0;
  margin: 0 -8px;
  display: flex;
  flex-direction: row;
}

.create-board.button-container {
  box-sizing: border-box;
  padding: 0 8px;
}

.create-board.button {
  border: 0;
  border-radius: 8px;
  box-sizing: border-box;
  min-height: 40px;
  display: inline-block;
  background-color: #efefef;
  padding: 10px 14px;
  text-align: center;
  font-weight: 700;
  letter-spacing: -.4px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  color: #333;
  &:hover {
    background-color: #e2e2e2;
  }
}



// ALL BOARDS
.board-index {
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
}




// EDIT BOARD




// DELETE BOARD
