// Place all the styles related to the api/Pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

////////////////////////////////////////////////////////////////////
//////////////////////////// CREATE PIN ////////////////////////////
////////////////////////////////////////////////////////////////////
#create-pin-background {
  position: fixed;
  top: 65px;
  background-color: #efefef;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#create-pin-container {
  height: 100%;
  padding-top: 44px;
}

.create-pin#sizing {
  width: 880px;
  padding-top: 20px;
  border-radius: 16px;
  background-color: #fff;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: column;
  display: flex;
  height: 630px;
}

.create-pin#header {
  box-sizing: border-box;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}

.create-pin#buttons {
  box-sizing: border-box;
  border-radius: 8px;
  width: 236px;
  min-height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.create-pin#select-board-dropdown {
  align-items: center;
  background-color: rgb(239, 239, 239);
  border: none;
  cursor: pointer;
  display: flex;
  flex-grow: 1;
  height: 40px;
  justify-content: space-between;
  min-width: 0px;
  outline: 0px;
  padding: 0px 14px;
  position: relative;
  border-radius: 8px 0px 0px 8px;
}

.create-pin#select-board-label {
  overflow: hidden;
  margin-right: 8px;
  text-align: left;
  color: #8e8e8e;
  font-size: 16px;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  hyphens: auto;
  word-wrap: break-word;
  font-weight: 400;
  letter-spacing: -.4px;
  -webkit-font-smoothing: antialiased;
}

.create-pin#dropdown-icon-container {
  flex: 0 0 auto;
  box-sizing: border-box;
  margin-right: -4px;
}

.create-pin#dropdown-icon {
  color: #333;
  height: 12px;
  width: 12px;
}

.create-pin#save-button {
  background-color: rgb(230, 0, 35);
  border: none;
  border-radius: 0px 8px 8px 0px;
  cursor: pointer;
  flex: 0 0 auto;
  height: 40px;
  outline: 0px;
  padding: 0px 14px;
}

.create-pin#save-button-label {
  text-align: left;
    margin-top: 10px;

  color: #fff;
  font-size: 16px;
  hyphens: auto;
  word-wrap: break-word;
  font-weight: 700;
  letter-spacing: -.4px;
  -webkit-font-smoothing: antialiased;
}

.create-pin#content {
  padding-bottom: 40px;
  box-sizing: border-box;
  flex-direction: row;
  display: flex;
}

.create-pin#image-container {
  box-sizing: border-box;
  padding: 0px 20px;
}

.create-pin#image-upload-container {
  width: 340px;
  height: 510px;
  flex: 1 1 auto;
  box-sizing: border-box;
  background-color: rgb(239, 239, 239);
  border-radius: 8px;
}

.create-pin#image-uploaded-container {
  width: 340px;
  height: auto;
  flex: 1 1 auto;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 8px;
  position: relative;
}

.create-pin#photo {
  width: 340px;
  box-sizing: border-box;
  border-radius: 8px;
  position: relative;
}

.create-pin#delete-image-button-container {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
  height: 40px;
  width: 40px;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 999px;
  padding: 4px;
  position: absolute;
  left: -20px;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-pin#delete-image-button {
  cursor: pointer;
  background: transparent;
  border: 0px;
  padding: 0px;
  outline: none;
}

.create-pin#trash-icon-container {
  height: 32px;
  width: 32px;
  background-color: transparent;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
  &:hover {
    background-color: #e2e2e2;
  }
}

.create-pin#trash-icon {
  color: #333;
  height: 20px;
  width: 20px;
}

.create-pin#image-upload-area {
  width: 340px;
  height: 510px;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: rgb(239, 239, 239);
  padding: 12px;
  position: relative;
  cursor: pointer;
}

.create-pin#image-upload-area-border {
  height: 100%;
  border: 2px dashed rgb(218, 218, 218);
  border-radius: 6px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.create-pin#upload-icon-container {
  box-sizing: border-box;
  padding: 8px;
}

#upload-icon {
  color: #8e8e8e;
  height: 32px;
  width: 32px;
}

.create-pin#instruction {
  width: 100%;
  box-sizing: border-box;
  padding: 0px 48px;
  margin-top: 16px;
  color: #333;
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -.4px;
}

.create-pin#upload-recommendation {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  margin: 32px;
  color: #8e8e8e;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -.4px;
}

// display: flex;
// flex-direction: column;
// align-items: center;
// justify-content: center;


.create-pin#image-upload-input {
  display: none;
}


.create-pin#details-container {
  min-height: 510px;
  width: 100%;
  flex: 1 1 auto;
  box-sizing: border-box;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
}

.create-pin#title-container {
  width: 100%;
  box-sizing: border-box;
  margin-top: 32px
}

.create-pin#title {
  height: 50px;
  cursor: text;
  white-space: pre-wrap;
  font-size: 36px;
  font-weight: 700;
  vertical-align: top;
  background-color: transparent;
  border: none;
  border-bottom: 1px lightgray solid;
  box-sizing: border-box;
  caret-color: #333;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -.4px;
  overflow: auto;
  word-wrap: break-word;
  resize: none;
  outline: none;
  width: 100%;
  &:focus {
    color: #333;
    border-bottom: 2px #5E9ED6 solid;
  }
}

.create-pin#user-container {
  width: 100%;
  box-sizing: border-box;
  margin-top: 35px;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.create-pin#user-image-frame {
  padding-right: 4px;
  box-sizing: border-box;
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  height: 40px;
  position: relative;
}

.create-pin#user-image {
  color: transparent;
  width: 100%;
  position: absolute;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.create-pin#username {
  padding-left: 4px;
  font-size: 14px;
  color: #333;
  font-weight: 600;
  text-align: left;
  hyphens: auto;
  word-wrap: break-word;
  font-style: normal;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -.4px;
}

.create-pin#description-container {
  width: 100%;
  box-sizing: border-box;
  margin-top: 24px;
}

.create-pin#description {
  height: 220px;
  cursor: text;
  white-space: pre-wrap;
  font-size: 18px;
  vertical-align: top;
  background-color: transparent;
  border: none;
  border-bottom: 1px lightgray solid;
  box-sizing: border-box;
  caret-color: #333;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -.4px;
  overflow: auto;
  word-wrap: break-word;
  resize: none;
  outline: none;
  width: 100%;
  &:focus {
    color: #333;
    border-bottom: 2px #5E9ED6 solid;
  }
}

.create-pin#url-container {
  width: 100%;
  box-sizing: border-box;
  margin-top: 60px;
}

.create-pin#url {
  height: 30px;
  cursor: text;
  white-space: pre-wrap;
  font-size: 18px;
  vertical-align: top;
  background-color: transparent;
  border: none;
  border-bottom: 1px lightgray solid;
  box-sizing: border-box;
  caret-color: #333;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -.4px;
  overflow: auto;
  word-wrap: break-word;
  resize: none;
  outline: none;
  width: 100%;
  &:focus {
    color: #333;
    border-bottom: 2px #5E9ED6 solid;
  }
}



////////////////////////////////////////////////////////////////////
//////////////////////////// PIN INDEX /////////////////////////////
////////////////////////////////////////////////////////////////////
.pin-index.container {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.pin-index#grid-container {
  @media (max-width: 755px) and (min-width: 0px) {
    width: 504px;
  }
  @media (max-width: 1007px) and (min-width: 756px) {
    width: 756px;
  }
  @media (max-width: 1259px) and (min-width: 1008px) {
    width: 1008px;
  }
  @media (max-width: 1511px) and (min-width: 1260px) {
    width: 1260px;
  }
  @media (max-width: 1763px) and (min-width: 1512px) {
    width: 1512px;
  }
  @media (max-width: 2015px) and (min-width: 1764px) {
    width: 1764px;
  }
  @media (max-width: 2267px) and (min-width: 2016px) {
    width: 2016px;
  }
  @media (max-width: 2519px) and (min-width: 2268px) {
    width: 2268px;
  }
  @media (max-width: 2771px) and (min-width: 2520px) {
    width: 2520px;
  }
  @media (max-width: 3023px) and (min-width: 2772px) {
    width: 2772px;
  }
  @media (max-width: 3275px) and (min-width: 3024px) {
    width: 3024px;
  }
  @media (max-width: 3527px) and (min-width: 3276px) {
    width: 3276px;
  } 
}

.pin-index#grid {
  width: 100%;
  min-width: 550px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(252px,1fr));
  grid-row-gap: 10px;
  grid-auto-rows: 2px;
  justify-items: center;
  justify-content: center;
}

.pin-index-item.container {
  width: 252px;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 4px 8px;
}

.pin-index-item.masonry-item {
  box-sizing: border-box;
  border-radius: 16px;
  width: 236px;
  height: 100%;
  -webkit-mask-image: -webkit-radial-gradient(center, white, black);
  overflow: hidden;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  position: relative;
  
}



.pin-index-item.pin-show-link {
  cursor: zoom-in;
  box-sizing: border-box;
  // position: absolute;
  // z-index: 1;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
  &:hover ~ .overlay {
    // background-color: rgba(0, 0, 0, 0.03);
    visibility: visible;
    // opacity: 1;
  }
  &:hover + .overlaid {
    background-color: rgba(0,0,0,0.06);
  }
}

.pin-index-item.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // background-color: rgba(0,0,0,0.03);
  visibility: hidden;
  // opacity: 0;
  pointer-events: none;
  &:hover {
    // opacity: 1;
    visibility: visible;
    // background-color: rgba(0,0,0,0.06);
  }
  &:hover + .overlaid {
    background-color: rgba(0,0,0,0.06);
  }
}

.overlaid {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.03);
  bottom: 0;
  pointer-events: none;
  visibility: hidden;
}

.aaa {
  pointer-events: auto;
  position: absolute;
  top: 12px;
  right: 12px;
}

.pin-index-item.masonry-image {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  border-radius: 16px;
}


.pin-index-item.buttons-container {
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  pointer-events: none;
  // background-color: rgba(0,0,0,0.03);
  // opacity: 0;
  // &:hover {
  //   background-color: rgba(0,0,0,0.06);
  //   opacity: 1;
  // }
}

.pin-index-item.buttons {
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.pin-index-item.edit-pin-link {
  height: 32px;
  width: 32px;
  box-sizing: border-box;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  outline: 0;
  padding: 0;
  background-color: rgba(255,255,255,0.9);
  cursor: pointer;
  &:hover {
    background-color: rgb(255, 255, 255);
  }
  & > .edit-pin-icon {
    color: #333;
    height: 12px;
    width: 12px;
    overflow: hidden;
  }
}

.pin-index-item.save-board-pin-link {
  outline: 0;
  min-height: 40px;
  padding: 10px 14px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-radius: 22px;
  cursor: pointer;
  background-color: rgba(230,0,35,0.9);
  // opacity: 1;

  &:hover {
    background-color: rgb(230,0,35);
  }
  & > .save-board-pin-text {
    text-align: left;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
    font-weight: 600;
    letter-spacing: -.4px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    color: #fff;
  }
}


.pin-index-item.pin-link {
  position: absolute;
  z-index: 2;
  height: 32px;
  max-width: 132px;
  box-sizing: border-box;
  border-radius: 18px;
  background-color: rgba(255,255,255,0.9);
  color: rgb(51,51,51);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  visibility: hidden;
  &:hover {
    background-color: rgb(255, 255, 255);
  }
  & > .pin-link-icon {
    margin: 12px 0 12px 12px;
    flex: 0 0 auto;
    box-sizing: border-box;
    color: #333;
    height: 9px;
    width: 9px;
  }
  & > .pin-link-text {
    height: 18px;
    margin: 0 12px 0 8px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    text-align: left;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
    font-weight: 700;
    letter-spacing: -.4px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    color: #333;
  }
}




////////////////////////////////////////////////////////////////////
///////////////////////////// PIN SHOW /////////////////////////////
////////////////////////////////////////////////////////////////////




////////////////////////////////////////////////////////////////////
///////////////////////////// EDIT PIN /////////////////////////////
////////////////////////////////////////////////////////////////////




////////////////////////////////////////////////////////////////////
//////////////////////////// DELETE PIN ////////////////////////////
////////////////////////////////////////////////////////////////////
