// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* SWITCH FORM BUTTON MODAL */
.switch-form-button {
  width: 100%;
  box-sizing: border-box;
  height: 25px;
  min-height: 40px;
  cursor: pointer;
  border: 0;
  border-radius: 8px;
  padding: 10px 14px;
  outline: none;
}

.switch-form-button:hover {
  background-color: #E2E2E2;
}

.switch-form-value {
  color: #333;
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  letter-spacing: -.4px;
}

/* SESSION FORM MODAL */
.session-form-page {
  margin: 16px 0px;
  position: relative;

}

.session-form-container {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  position: relative;
  text-align: center;
  width: 440px;
  margin: auto;
  min-height: initial;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 2px 10px;
  padding-bottom: 55px;
}

.session-form-content {
  min-height: 400px;
  padding: 20px 10px;
}

#session-form-icon {
  height: 45px;
  margin: 5px auto;
  width: 45px;
  color: #e60023;
}

.session-form-title {
  margin: 0px auto 25px;
  width: 355px;
}

.session-form-title > h3 {
  color: rgb(51,51,51);
  font-size: 32px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -1.2px;
  margin: 0;
}

.session-form-subtitle {
  margin: 0px auto 25px;
  width: 270px;
}

.session-form-subtitle > h3 {
  text-align: center;
  color: rgb(51,51,51);
  font-size: 16px;
  font-weight: normal;
  margin: -15px 0px 20px;
}

.session-form-box {
  margin: 0px auto;
  position: relative;
  text-align: center;
  width: 268px;
  margin-top: 0em;
}

.session-input {
  box-sizing: border-box;
  position: relative;
  margin-bottom: 7px;
  cursor: text;
  border-color: #8e8e8e;
  -webkit-appearance: none;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  padding: 8px 14ps;
  color: #333;
  background-color: #fff;
  width: 100%;
  font-size: 16px;
  letter-spacing: -.4px;
  -webkit-font-smoothing: antialiased;
  min-height: 40px;
  overflow: visible;
  line-height: normal;
  vertical-align: middle;
}

.session-submit {
  border: 0px;
  height: 36px;
  display: inline-block;
  border-radius: 4px;
  -webkit-font-smoothing: antialiased;
  padding: 0px 18px;
  font-size: 15px;
  font-weight: bold;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  margin-top: 10px;
  vertical-align: middle;
  text-align: center;
  background-color: rgb(230, 0, 35);
  color: rgb(255, 255, 255);
  width: 100%;
}

.session-submit:hover {
  background-color: #D41521;
}

.button-separator {
  margin-top: 12px;
  margin-bottom: 3px;
  overflow: hidden;
  text-align: center;
  color: rgb(51, 51, 51);
  font-weight: bold;
  display: block;
}

.demo-session {
  border: 0px;
  height: 36px;
  display: inline-block;
  border-radius: 4px;
  -webkit-font-smoothing: antialiased;
  padding: 0px 18px;
  font-size: 15px;
  font-weight: bold;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  margin-top: 10px;
  vertical-align: middle;
  text-align: center;
  background-color: rgb(66, 133, 244);
  color: rgb(255, 255, 255);
  width: 100%;
  margin-bottom: 15px;
}

.demo-session:hover {
  background-color: #2F77F2;
}

.switch-form-link:focus, .switch-form-link:hover {
  cursor: pointer;
  text-decoration: underline;
}