///////////////////////////////////////////////////////////////////
///////////////////////////// PROFILE /////////////////////////////
///////////////////////////////////////////////////////////////////
#profile-background {
  padding-top: 65px;
}

#profile-container {
  box-sizing: border-box;
  margin-top: 24px;
}

/* PROFILE HEADER */
#profile-header-container {
  display: block;
}

#profile-header {
  display: block;
}

#profile-header-upper {
  display: block;
}

#profile-header-fixed {
  top: 65px;
  position: fixed;
  background: hsla(0,0%,100%,.97);
  width: 100%;
  z-index: 670;
}

#profile-nav-bar-container {
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  &.show {
    visibility: visible;
  }
  &.hide {
    visibility: hidden;
  }
}

#profile-nav-bar-wrapper {
  max-width: 800px;
  width: 100%;
  box-sizing: border-box;

}

#profile-nav-bar {
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 8px 0px;
  margin: 4px 0px;
}

#buttons-container {
  width: 33.33333%;
  display: block;
}

#buttons {
  flex: 0 0 auto;
  align-items: center;
  box-sizing: border-box;
  flex-direction: row;
  display: flex;
}

.profile-header-expander,
.profile-header-button {
  box-sizing: border-box;
  border-radius: 50%;
}

.profile-header-link {
  cursor: pointer;
  border: 0;
  padding: 0;
  background: transparent;
  line-height: normal;
  box-sizing: border-box;
  border-radius: 50%;
  outline: none;
  // &:focus {
  //   box-shadow: 0 0 0 4px rgba(0, 122, 255, 0.5);
  // }
}

.profile-icon-container-shadow {
  height: 48px;
  width: 48px;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
  line-height: normal;
  &:hover {
    background-color: #E2E2E2;
  }
}

.profile-icon-container {
  box-sizing: border-box;
  border-radius: 50%;
  line-height: normal;
}

#create-dropdown-icon,
#edit-profile-icon {
  color: #8e8e8e;
  display: block;
  vertical-align: middle;
  height: 24px;
  width: 24px;
}

#create-options-container {
  stroke: rgb(239, 239, 239);
  top: 72px;
  left: auto;
  position: absolute;
  background-color: #fff;
  color: #fff;
  box-sizing: border-box;
  min-height: 40px;
  max-height: 90vh;
  max-width: 90vw;
  border: 1px solid;
  box-shadow: 0 3px 6px rgba(0,0,0,.18);
  outline: none;
  border-radius: 8px;
}

#create-options {
  width: 230px;
  display: flex;
  overflow: auto;
  min-height: 40px;
  max-height: 90vh;
  max-width: 90vw;
  border-radius: 8px;
  flex-direction: column;
}

#create-board-button,
#create-pin-button {
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  outline: none;
  border-radius: 0;
  overflow: hidden;
}

#create-options-triangle {
  top: -24px;
  left: 10px;
  fill: currentColor;
  height: 24px;
  pointer-events: none;
  position: absolute;
  color: #fff;
}

.option-container-shadow {
  margin: 0 -4px;
  align-items: flex-start;
  box-sizing: border-box;
  overflow: hidden;
  padding: 8px 16px;
  flex-direction: row;
  display: flex;
  &:hover {
    background-color: #E2E2E2;
  }
}

.option-container {
  width: 100%;
  flex: 1 1 auto;
  min-height: 0;
  min-width: 0;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 4px;
  flex-direction: column;
  display: flex;
}

.option-label {
  text-align: left;
  color: #333;
  font-size: 16px;
  hyphens: auto;
  word-wrap: break-word;
  font-weight: 700;
  letter-spacing: -.4px;
  -webkit-font-smoothing: antialiased;
}

#nav-bar-name-container {
  width: 33.33333%;
  display: block;
}

#nav-bar-name-fixed {
  flex: 1 1 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  padding: 8px;
  flex-direction: row;
}

#nav-bar-name {
  min-width: 0px;
  opacity: 0;
  position: relative;
  top: -50px;
}

#nav-bar-name.transitionOut {
  animation: fadeOutUp .2s ease-in forwards;
}

#nav-bar-name.transitionIn {
  animation: fadeInDown .2s ease-in forwards;
}

@keyframes fadeInDown {
   0% {
      opacity: 0;
      transform: translate(0);
   }
   100% {
      opacity: 1;
      transform: translateY(50px);
   }
}

@keyframes fadeOutUp {
   0% {
      opacity: 1;
      transform: translateY(50px);
   }
   100% {
      opacity: 0;
      transform: translateY(0);
   }
}

#nav-bar-name h3 {
  color: #333;
  font-size: 18px;
  text-align: center;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  hyphens: auto;
  word-wrap: break-word;
  font-weight: 700;
  letter-spacing: -.4px;
}

#profile-details-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  box-sizing: border-box;
}

#profile-details-background {
  max-width: 800px;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

#profile-details {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin-top: 40px;
  flex-direction: row;
  display: flex;
}

#profile-basics-container {
  width: 75%;
}

#profile-basics {
  box-sizing: border-box;
  padding: 0px 8px;
  flex-direction: column;
  display: flex;
}

#profile-name-container {
  margin-left: -1px;
  box-sizing: border-box;
}

#profile-name {
  color: #333;
  hyphens: auto;
  word-wrap: break-word;
  letter-spacing: -.4px;
  -webkit-font-smoothing: antialiased;
  font-size: 36px;
  margin-bottom: 4px;
  display: block;
  font-weight: bold;
}

#profile-follow-container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: row;
}

#profile-follows {
  display: flex;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  margin-bottom: 4px;
}

#profile-followers-container,
#profile-following-container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.profile-follows-link {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.profile-follows-link:hover {
  text-decoration: underline;
}

.profile-follows-link > h4 {
  text-align: left;
  color: #333;
  font-size: 14px;
  hyphens: auto;
  word-wrap: break-word;
  font-weight: 700;
  letter-spacing: -.4px;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-font-smoothing: antialiased;
}

#profile-follows-spacer-container {
  justify-content: center;
  box-sizing: border-box;
  padding: 0px 4px;
  display: flex;
  flex-direction: row;
}

#profile-follows-spacer {
  text-align: left;
  color: #333;
  font-size: 14px;
  hyphens: auto;
  word-wrap: break-word;
  font-weight: 800;
  letter-spacing: -.4px;
}

#profile-personal-container {
  box-sizing: border-box;
  margin-bottom: 12px;
}

#profile-personal {
  box-sizing: border-box;
}

#profile-personal > h4 {
  text-align: left;
  color: #333;
  font-size: 14px;
  hyphens: auto;
  word-wrap: break-word;
  font-weight: 400;
  letter-spacing: -.4px;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-font-smoothing: antialiased;
}

#profile-image-container-outer {
  width: 25%;
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  flex-direction: row;
  will-change: transform;
  border-radius: 50%;
}

#profile-image-frame {
  box-sizing: border-box;
  height: 106px;
  width: 106px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

#profile-photo {
  position: absolute;
  color: transparent;
  height: 100%;
  max-height: 100%;
  width: auto;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}


#profile-content-container {}

#profile-content {}

#profile-switches-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin-top: 16px;
  padding: 0px 8px;
}

#profile-switches-container {
  max-width: 850px;
  width: 100%;
  box-sizing: border-box;
}

#profile-switches {
  margin-left: -4px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  flex-direction: row;
  display: flex;

}

#profile-switch-links-container {
  box-sizing: border-box;
  margin-bottom: 4px;
}

#profile-switch-links {
  display: flex;
  user-select: none;
}

.profile-switch-link {
  color: #8e8e8e;
  justify-content: center;
  flex-direction: column;
  display: flex;
  box-sizing: border-box;
  min-height: 40px;
  cursor: pointer;
  border: 0px;
  border-radius: 999px;
  padding: 8px 16px;
  text-decoration: none;
  margin: 0px;
  font-weight: 700;
  user-select: none;
  &:hover {
    color: #333;
    text-decoration: underline;
  }
}

.profile-switch-link-label {
  text-align: left;
  font-size: 16px;
  hyphens: auto;
  word-wrap: break-word;
  font-weight: 700;
  letter-spacing: -.4px;
  -webkit-font-smoothing: antialiased;
}

.profile-show.pin-count-container {
  max-width: 850px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 8px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
}

.profile-show.pin-count {
  text-align: left;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  font-weight: 400;
  letter-spacing: -.4px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: #8e8e8e;
}

.profile-show.number {
  font-weight: 700;
}

#profile-tab-wrapper {
  margin-top: -20px;
  margin-bottom: 24px;
  box-sizing: border-box;
  overflow: hidden;
}



// EDIT PROFILE 
#settings-container-padding {
  padding-top: 65px
}

#settings-container {
  box-sizing: border-box;
  margin-top: 20px;
  flex-direction: row;
  display: flex;
}

#back-button-width {
  width: 8.33333%;
}

#back-button-padding {
  padding-left: 20px;
  box-sizing: border-box;
}

#back-button-position {
  top: 65px;
  position: fixed;
  z-index: 3;
  width: 60px;
}

#back-button-container {
  box-sizing: border-box;
  left: 0px;
  position: fixed;
  margin-left: 24px;
  margin-top: 20px;
  padding: 4px;
}

#user-profile-link {
  display: block;
  border: none;
  padding: 0px;
  cursor: pointer;
  background: transparent;
  outline: none;
  border-radius: 50%;
}

#back-icon-container-shadow {
  box-sizing: border-box;
  border-radius: 50%;
  &:hover {
    background-color: #E2E2E2
  }
}

#back-icon-container {
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#back-icon {
  color: #333;
  vertical-align: middle;
  height: 20px;
  width: 20px;
  overflow: hidden;
}

#edit-profile-form-width {
  width: 83.33333%
}

#edit-profile-form-outer-container {
  max-width: 800px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#edit-profile-form-inner-container {
  box-sizing: border-box;
  margin-bottom: 48px;
}

#edit-profile-form {
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
}

.edit-profile#header-border {
  box-sizing: border-box;
}

.edit-profile#header-flex {
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  display: flex;  
}

.edit-profile#title-container {
  width: 58.3333%
}

.edit-profile#title {
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
}

.edit-profile#title-label {
  color: #333;
  hyphens: auto;
  word-wrap: break-word;
  letter-spacing: -.4px;
  -webkit-font-smoothing: antialiased;
  font-size: 36px;
  font-weight: bold;
  margin: 0px;
}

.edit-profile#title-spacing {
  box-sizing: border-box;
  margin-top: 8px;
}

.edit-profile#subtitle {
  text-align: left;
  color: #333;
  font-size: 14px;
  hyphens: auto;
  word-wrap: break-word;
  font-weight: 400;
  letter-spacing: -.4px;
  -webkit-font-smoothing: antialiased;
}

.edit-profile#button-container {
  width: 41.66667%
}

.edit-profile#buttons {
  box-sizing: border-box;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  display: flex;
}

.edit-profile.button-container {
  box-sizing: border-box;
  padding: 0px 4px;
  outline: none;
}

.edit-profile.button {
  &.cancel {
    background-color: #efefef;
    &:hover {
      background-color: #E2E2E2;
    }
  }
  &.done { 
    background-color: #e60023;
    &:hover {
      background-color: #ad081b;
    }
  }
  box-sizing: border-box;
  min-height: 40px;
  display: inline-block;
  border: 0px;
  border-radius: 8px;
  cursor: default;
  padding: 10px 14px;
  &:hover {
    background-color: #E2E2E2;
  }
  &.disabled {
    background-color: #efefef;
    color: graytext;
    pointer-events: none;
  }
}

.edit-profile.button-label {
  &.cancel {
    color: #333;
  }
  &.done { 
    color: #fff;
  }
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  letter-spacing: -.4px;
  -webkit-font-smoothing: antialiased;
  cursor: default;
  &.disabled {
    color: #8e8e8e;
  }
}

.edit-profile#spacer-container {
  box-sizing: border-box;
  margin-top: 48px;
  margin-bottom: 4px;
}

.edit-profile#spacer {
  text-align: left;
  color: #333;
  font-size: 16px;
  hyphens: auto;
  word-wrap: break-word;
  font-weight: 400;
  letter-spacing: -.4px;
  -webkit-font-smoothing: antialiased;
}

.edit-profile#photo-change-container {
  box-sizing: border-box;
  align-items: center;
  flex-direction: row;
  display: flex;
}

.edit-profile#photo-container-size {
  height: 75px;
  width: 75px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 4px;
}

.edit-profile#photo-container-border {
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
  position: relative;
  border-radius: 50%;
}

.edit-profile#photo-frame-container {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  will-change: transform
}

.edit-profile#photo-frame {
  background-color: rgb(239, 239, 239);
  padding-bottom: 100%;
  box-sizing: border-box;
  position: relative;
}

.edit-profile#photo {
  position: absolute;
  color: transparent;
  height: 100%;
  max-height: 100%;
  width: auto;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.fa-user-circle#photo {
  color: #8e8e8e;
  width: 100%;
  position: absolute;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0px;
}

.edit-profile#change-photo-button {
  margin-left: 12px;
  box-sizing: border-box;
}

.edit-profile.button#change-button {
  display: none;
}

.edit-profile.button#change-photo {
  background-color: #efefef;
  box-sizing: border-box;
  min-height: 40px;
  display: inline-block;
  cursor: pointer;
  border: 0px;
  border-radius: 8px;
  padding: 10px 14px;
  &:hover {
    background-color: #e2e2e2;
  }
}

.edit-profile.button-label#change-photo {
  color: #333;
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  letter-spacing: -.4px;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
}

.edit-profile#name-container {
  width: 100%;
}

.edit-profile#full-name {
  box-sizing: border-box;
  flex-direction: row;
  display: flex;
}

.edit-profile#first-name-wrapper,
.edit-profile#last-name-wrapper {
  width: 50%;
}

.edit-profile#first-name-container {
  margin-right: 4px;
  flex: 1 1 auto;
  min-height: 0px;
  min-width: 0px;
  box-sizing: border-box;
  margin-top: 28px;
  flex-direction: column;
  display: flex;
}

.edit-profile#last-name-container {
  margin-left: 4px;
  flex: 1 1 auto;
  min-height: 0px;
  min-width: 0px;
  box-sizing: border-box;
  margin-top: 28px;
  flex-direction: column;
  display: flex;
}

.edit-profile.field-container {
  box-sizing: border-box
}

.edit-profile.label-container {
  box-sizing: border-box;
  margin-bottom: 4px;
}

.edit-profile.label {
  cursor: pointer;
  text-align: left;
  color: #333;
  font-size: 16px;
  hyphens: auto;
  word-wrap: break-word;
  font-weight: 400;
  letter-spacing: -.4px;
  -webkit-font-smoothing: antialiased;
}

.edit-profile.input {
  cursor: text;
  border-color: #8e8e8e;
  -webkit-appearance: none;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  padding: 8px 14px;
  color: #333;
  background-color: #fff;
  width: 100%;
  font-size: 16px;
  letter-spacing: -.4px;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  min-height: 40px; 
}

.edit-profile#username-container {
  box-sizing: border-box;
  margin-top: 28px;
}

.edit-profile.field-container#username {
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
}

.edit-profile#website-username {
  margin-right: 4px;
  align-items: center;
  box-sizing: border-box;
  flex-direction: row;
  display: flex;
}

.edit-profile#website {
  text-align: left;
  color: #333;
  font-size: 16px;
  hyphens: auto;
  word-wrap: break-word;
  font-weight: 400;
  letter-spacing: -.4px;
  -webkit-font-smoothing: antialiased;
}

.edit-profile#username {
  box-sizing: border-box;
  margin-left: 4px;
}

.edit-profile#email-container {
  box-sizing: border-box;
  margin-top: 28px;
}

.edit-profile#description-container {
  box-sizing: border-box;
  margin-top: 28px;
}

.edit-profile#field-container#description {
  padding: 8px 0px;
}

.edit-profile#location-container {
  box-sizing: border-box;
  margin-top: 28px;
}