/* MODAL STYLING */
.modal-container {
  position: absolute;
  z-index: 1000;
  display: block;
  overflow:hidden;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  // overflow-y: scroll;
  box-sizing: border-box;
  &#login,
  &#signup {

  }
  &#new-board {
    background-color:rgba(0, 0, 0, 0.8);
    cursor: zoom-out;
  }
  &#edit-board {
    background-color: rgba(226,228,228,.9);
  }
  &#delete-board {
    background-color: rgba(226,228,228,.99);
  }
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &#edit-board-child {
    top: 0;
    left: 0;
    transform: none;
    position: relative;
    margin: auto;
    border-radius: 6px;
    max-width: 600px;
    max-height: 200%;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.22);
    background-color: rgba(226,228,228,.9);
  }
}

.modal-child-two {
  height: 9px;
  min-width: 130px;
  box-sizing: border-box;
  left: 0;
  top: 0;
  position: absolute;
  margin-top: 48px;
  margin-left: 24px;
}