/* PROFILE */
#profile-background {
  padding-top: 65px;
}

#profile-container {
  box-sizing: border-box;
  margin-top: 24px;
}

/* PROFILE HEADER */
#profile-header-container {
  display: block;
}

#profile-header {
  display: block;
}

#profile-header-upper {
  display: block;
}

#profile-header-fixed {
  top: 65px;
  position: fixed;
  background: hsla(0,0%,100%,.97);
  width: 100%;
  z-index: 670;
}

#profile-nav-bar-container {
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

#profile-nav-bar-wrapper {
  max-width: 800px;
  width: 100%;
  box-sizing: border-box;
}

#profile-nav-bar {
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 8px 0px;
  margin: 4px 0px;
}

#buttons-container {
  width: 33.33333%;
  display: block;
}

#buttons {
  flex: 0 0 auto;
  align-items: center;
  box-sizing: border-box;
  flex-direction: row;
  display: flex;
}

.profile-header-expander,
.profile-header-button {
  box-sizing: border-box;
  border-radius: 50%;
}

.profile-header-link {
  cursor: pointer;
  border: 0;
  padding: 0;
  background: transparent;
  line-height: normal;
  box-sizing: border-box;
  border-radius: 50%;
  outline: none;
  &:focus {
    box-shadow: 0 0 0 4px rgba(0, 122, 255, 0.5);
  }
}

.profile-icon-container-shadow {
  height: 48px;
  width: 48px;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
  line-height: normal;
  &:hover {
    background-color: #E2E2E2;
  }
}

.profile-icon-container {
  box-sizing: border-box;
  border-radius: 50%;
  line-height: normal;
}

#create-dropdown-icon,
#edit-profile-icon {
  color: #8e8e8e;
  display: block;
  vertical-align: middle;
  height: 24px;
  width: 24px;
}

#create-options-container {
  stroke: rgb(239, 239, 239);
  top: 72px;
  left: auto;
  position: absolute;
  background-color: #fff;
  color: #fff;
  box-sizing: border-box;
  min-height: 40px;
  max-height: 90vh;
  max-width: 90vw;
  border: 1px solid;
  box-shadow: 0 3px 6px rgba(0,0,0,.18);
  outline: none;
  border-radius: 8px;
}

#create-options {
  width: 230px;
  display: flex;
  overflow: auto;
  min-height: 40px;
  max-height: 90vh;
  max-width: 90vw;
  border-radius: 8px;
  flex-direction: column;
}

#create-board-button,
#create-pin-button {
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  outline: none;
  border-radius: 0;
  overflow: hidden;
}

#create-options-triangle {
  top: -24px;
  left: 10px;
  fill: currentColor;
  height: 24px;
  pointer-events: none;
  position: absolute;
  color: #fff;
}

.option-container-shadow {
  margin: 0 -4px;
  align-items: flex-start;
  box-sizing: border-box;
  overflow: hidden;
  padding: 8px 16px;
  flex-direction: row;
  display: flex;
  &:hover {
    background-color: #E2E2E2;
  }
}

.option-container {
  width: 100%;
  flex: 1 1 auto;
  min-height: 0;
  min-width: 0;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 4px;
  flex-direction: column;
  display: flex;
}

.option-label {
  text-align: left;
  color: #333;
  font-size: 16px;
  hyphens: auto;
  word-wrap: break-word;
  font-weight: 700;
  letter-spacing: -.4px;
  -webkit-font-smoothing: antialiased;
}

#nav-bar-name-container {
  width: 33.33333%;
  display: block;
}

#nav-bar-name-fixed {
  flex: 1 1 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  padding: 8px;
  flex-direction: row;
}

#nav-bar-name {
  min-width: 0px;
  opacity: 0;
  position: relative;
  top: -50px;
}

#nav-bar-name.transitionOut {
  animation: fadeOutUp .2s ease-in forwards;
}

#nav-bar-name.transitionIn {
  animation: fadeInDown .2s ease-in forwards;
}

@keyframes fadeInDown {
   0% {
      opacity: 0;
      transform: translate(0);
   }
   100% {
      opacity: 1;
      transform: translateY(50px);
   }
}

@keyframes fadeOutUp {
   0% {
      opacity: 1;
      transform: translateY(50px);
   }
   100% {
      opacity: 0;
      transform: translateY(0);
   }
}

#nav-bar-name h3 {
  color: #333;
  font-size: 18px;
  text-align: center;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  hyphens: auto;
  word-wrap: break-word;
  font-weight: 700;
  letter-spacing: -.4px;
}

#profile-details-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  box-sizing: border-box;
}

#profile-details-background {
  max-width: 800px;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

#profile-details {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin-top: 40px;
  flex-direction: row;
  display: flex;
}

#profile-basics-container {
  width: 75%;
}

#profile-basics {
  box-sizing: border-box;
  padding: 0px 8px;
  flex-direction: column;
  display: flex;
}

#profile-name-container {
  margin-left: -1px;
  box-sizing: border-box;
}

#profile-name {
  color: #333;
  hyphens: auto;
  word-wrap: break-word;
  letter-spacing: -.4px;
  -webkit-font-smoothing: antialiased;
  font-size: 36px;
  margin-bottom: 0px;
  margin-top: 0px;
  display: block;
  font-weight: bold;
}

#profile-follow-container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: row;
}

#profile-follows {
  display: flex;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  margin-bottom: 4px;
}

#profile-followers-container,
#profile-following-container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.profile-follows-link {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.profile-follows-link:hover {
  text-decoration: underline;
}

.profile-follows-link > h4 {
  text-align: left;
  color: #333;
  font-size: 14px;
  hyphens: auto;
  word-wrap: break-word;
  font-weight: 700;
  letter-spacing: -.4px;
}

#profile-follows-spacer-container {
  justify-content: center;
  box-sizing: border-box;
  padding: 0px 4px;
  display: flex;
  flex-direction: row;
}

#profile-follows-spacer {
  text-align: left;
  color: #333;
  font-size: 14px;
  hyphens: auto;
  word-wrap: break-word;
  font-weight: 800;
  letter-spacing: -.4px;
}

#profile-personal-container {
  box-sizing: border-box;
  margin-bottom: 12px;
}

#profile-personal {
  box-sizing: border-box;
}

#profile-personal > h4 {
  text-align: left;
  color: #333;
  font-size: 14px;
  hyphens: auto;
  word-wrap: break-word;
  font-weight: 400;
  letter-spacing: -.4px;
}

#profile-image-container-outer {
  width: 25%;
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  flex-direction: row;
  will-change: transform;
  border-radius: 50%;
}

#profile-image-frame {
  box-sizing: border-box;
  height: 106px;
  width: 106px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

#profile-photo {
  position: absolute;
  color: transparent;
  height: 100%;
  max-height: 100%;
  width: auto;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}


#profile-content-container {}

#profile-content {}

#profile-switches-wrapper {
  justify-content: center;
  box-sizing: border-box;
  margin-top: 16px;
  padding: 0px 8px;
  display: flex;
  flex-direction: row;
}

#profile-switches-container {
  max-width: 850px;
  width: 100%;
  box-sizing: border-box;
}

#profile-switches {
  margin-left: -4px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  flex-direction: row;
  display: flex;

}

#profile-switch-links-container {
  box-sizing: border-box;
  margin-bottom: 4px;
}

#profile-switch-links {
  display: flex;
  user-select: none;
}

.profile-switch-link {
  color: #8e8e8e;
  justify-content: center;
  flex-direction: column;
  display: flex;
  box-sizing: border-box;
  min-height: 40px;
  cursor: pointer;
  border: 0px;
  border-radius: 999px;
  padding: 8px 16px;
  text-decoration: none;
  margin: 0px;
  font-weight: 700;
  user-select: none;
  &:hover {
    color: #333;
    text-decoration: underline;
  }
}

.profile-switch-link-label {
  text-align: left;
  font-size: 16px;
  hyphens: auto;
  word-wrap: break-word;
  font-weight: 700;
  letter-spacing: -.4px;
  -webkit-font-smoothing: antialiased;
}

#profile-tab-wrapper {
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 24px;
}